/* 
* {
  box-sizing: border-box;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  align-items: center; 
}

h1 {
    text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.home {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  border: none;
}

.login-header {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
}


.backbutton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px;
}


.login-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 20px;
  text-align: center;
  width: 100%;
}


a {
  font-weight: bold;
  color: black;
}

.normalLogin {
  background-color: #FFC107;
  color: white;
  width: 100%;
  border: none;              
  border-radius: 8px;
}

.googleLogin {
  background-color: white;
  width: 100%;         
  border-radius: 8px;
  border-color: #E1E1E1;
  border-width: 2px;
  border-style: solid;
}

input {
  width: 100%;
  border-radius: 8px;
  border-color: #E1E1E1;
  border-width: 2px;
  border-style: solid;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.divider span {
  font-size: 14px;
  color: #aaa;
}

a {
  text-decoration: none;
} */